<!DOCTYPE html>
<html>

<head>
    <!-- <link href="./img/favicon.png" rel="shortcut icon" /> -->
    <meta charset="utf-8" />
    <meta content="width=1024px, maximum-scale=1.0" name="viewport" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
    <form action="form" class="form_main" method="post" name="form">
        <div class="search-layout-container">
            <div class="search">
                <img src="/static/images/bar.png" class="searchbar" />
                <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjFnpm9rYvfAhWsdN8KHRZzCUgQPAgH" onclick="document.getElementsByName('form')[0].submit();">
                    <img src="/static/images/mag.png" class="search_icon" />
                </a>
                <input class="text_box" name="textbox" placeholder="Make America Great Again" />
            </div>
        </div>
        <div class="messagecontainer-layout-container">
            <div class="messagecontainer">
                <img src="/static/images/container.png" class="tweetcontainer" />
                <div class="date">
                    11:09 PM - 6 Dec 2018
                </div>
                <div class="pic">
                    <div class="mask">
                    </div>
                    <img src="/static/images/pic.png" class="tweet_pic" />
                </div>
                <div class="name">
                    John Smith
                </div>
                <div class="username">
                    @johnsmith
                </div>
                <div class="tweettext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit @twitter. #tweet #usa
                </div>
            </div>
        </div>
    </form>

</body>

</html>