<!DOCTYPE html>
<html>

<head>
    <!-- <link href="./img/favicon.png" rel="shortcut icon" /> -->
    <meta charset="utf-8" />
    <meta content="width=1024px, maximum-scale=1.0" name="viewport" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body style="margin: 0;
 ">
    <form action="/search" method="POST" class="form_main" method="post" name="form">

        <div class="search-layout-container">
            <div id="particles-js">
                <div class="search">
                    <img src="/static/images/bar.png" class="searchbar" />
                    <a href="#" onclick="document.getElementsByName('form')[0].submit();">
                        <img src="/static/images/mag.png" class="search_icon" />
                    </a>
                    <input class="text_box" id="srch-term" name="srch-term" placeholder="Search here" type="text"
                        onkeypress="search(event)" />
                </div>
            </div>

        </div>


        <!-- <div class="messagecontainer-layout-container">
            <div class="messagecontainer">
                <img src="/static/images/container.png" class="tweetcontainer" />
                <div class="date">
                    11:09 PM - 6 Dec 2018
                </div>
                <div class="pic">
                    <div class="mask">
                    </div>
                    <img src="/static/images/pic.png" class="tweet_pic" />
                </div>
                <div class="name">
                    John Smith
                </div>
                <div class="username">
                    @johnsmith
                </div>
                <div class="tweettext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit @twitter. #tweet #usa
                </div>
            </div>
        </div> -->
    </form>

    <script>
        function search(e) {
            if (e.keyCode == 13) {
                document.forms.form.submit();
            } else {
                return false;
            }
        }
    </script>
    <script src="/static/js/particles.min.js"></script>
    <script src="/static/js/particleConfig.js"></script>
</body>

</html>